<div class="row">
	<div class="col-2">

		<div class="card">
		  <%= image_tag 'users.png', class: "card-img-top", style: "margin: 10px auto 10px auto; max-width: 100%"  %>
		  <div class="card-block">

			<hr/>
			<%= link_to 'Add user', new_user_path, class: "btn btn-primary btn-block" %>
		  </div>
		</div>

	</div>
	<div class="col">
		<h1>Users</h1>

		<table class="table table-striped">
		  <thead>
		    <tr>
		      <th>Email</th>
		      <th>Is admin?</th>
		      <th colspan="3"></th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @users.each do |user| %>
		      <tr>
			<td><%= user.email %></td>
			<td><% if user.has_role? :admin %> 
				<span class="badge badge-success">true</span> 
			<% else %>
				<span class="badge badge-warning">false</span> 
		       	<% end %></td>
			<td><%= link_to 'Show', user %></td>
			<td><%= link_to 'Edit', edit_user_path(user) %></td>
			<td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
		<%= paginate @users %>
	</div>
</div>
