<%= render 'events/menu', event: @event %>

<div class="row mt-3">
	<div class="col-2">


		<div class="card">
		  <%= image_tag @event.image.url(:thumb), class: "card-img-top", style: "margin: 10px auto 10px auto; max-width: 100%"  %>
		  <div class="card-block">
			<%= link_to send_invitations_event_path(@event), method: :post, class: "btn btn-secondary btn-block" do %>
				<i class="fa fa-envelope-o" aria-hidden="true"></i> Send invitations
			<% end %>

			<%= link_to "Check invitations status", check_invitations_status_event_path(@event), method: :post, class: "btn btn-secondary btn-block" %>

			<%= link_to import_csv_event_path(@event), class: "btn btn-secondary btn-block" do %>
				<i class="fa fa-file-text-o" aria-hidden="true"></i> Import list
			<% end %>

			<%= link_to export_csv_event_path(@event), class: "btn btn-secondary btn-block" do %>
				<i class="fa fa-file-text-o" aria-hidden="true"></i> Export CSV
			<% end %>

			<%= link_to export_failed_event_path(@event), class: "btn btn-secondary btn-block" do %>
				<i class="fa fa-exclamation-circle" aria-hidden="true"></i> Export failed
			<% end %>

			<hr/>
			<%= link_to 'Invite attendee', new_event_attendee_path, class: "btn btn-primary btn-block" %>
		  </div>
		</div>

	</div>
	<div class="col">
		<h1>Attendees</h1>

    <div class="row my-5">
      <div class="col metric invited"><div class="metric-value"><%= @total %></div><div class="metric-label">Attendees</div></div>
      <div class="col metric sent"><div class="metric-value"><%= @sent %> <span class="metric-percent">(<%= (@sent/(@total+0.0)*100).round(2) %>%)</span></div><div class="metric-label">Invites sent</div></div>
      <div class="col metric delivered"><div class="metric-value"><%= @delivered %> <span class="metric-percent">(<%= (@delivered/(@total+0.0)*100).round(2) %>%)</span></div><div class="metric-label">Delivered</div></div>
      <div class="col metric warning"><div class="metric-value"><%= @warning %> <span class="metric-percent">(<%= (@warning/(@total+0.0)*100).round(2) %>%)</span></div><div class="metric-label">Warning</div></div>
      <div class="col metric failed"><div class="metric-value"><%= @failed %> <span class="metric-percent">(<%= (@failed/(@total+0.0)*100).round(2) %>%)</span></div><div class="metric-label">Failed</div></div>
    </div>


    <table class="table" id="attendees-datatable">
			<thead>
				<tr><th>Status</th><th>Reference</th><th>Last Name</th><th>First Name</th><th>Email</th><th>Category</th><th>Actions</th></tr>
			</thead>
      <tbody>
        <tbody>
		</table>

		<script type="text/javascript">
		$('#attendees-datatable').DataTable({
      "processing": true,
      "serverSide": true,
      "ajax": "<%= event_attendees_path(format: :json) %>",
      "pagingType": "full_numbers",
      "order": [],
      "columns": [
        {"data": "status", "orderable": false},
        {"data": "reference"},
        {"data": "last_name"},
        {"data": "first_name"},
        {"data": "email"},
        {"data": "category_name"},
        {"data": "actions", "orderable": false},
      ]
		});	
		</script>

	</div>
</div>
