<%= link_to 'Success ticket', ticket_event_path(code: "VALID") %>
<%= link_to 'Already checked in ticket', ticket_event_path(code: "ALRDY") %>
<%= link_to 'Before event ticket', ticket_event_path(code: "BEFORE") %>
<%= link_to 'Not invited ticket', ticket_event_path(code: "NOTINV") %>

<h1>iPhone</h1>

<%= image_tag 'docs/iphone/app_store.png' %>
<%= image_tag 'docs/iphone/config.png' %>
<%= image_tag 'docs/iphone/scan.png' %>
<%= image_tag 'docs/iphone/result.png' %>

<h1>Android</h1>

<%= image_tag 'docs/android/play_store.png' %>
<%= image_tag 'docs/android/config.png' %>
<%= image_tag 'docs/android/scan.png' %>
<%= image_tag 'docs/android/result.png' %>

