<h1>iPhone</h1>

<%= image_tag 'docs/iphone/app_store.png' %>
<%= image_tag 'docs/iphone/config.png' %>
<%= image_tag 'docs/iphone/scan.png' %>
<%= image_tag 'docs/iphone/result.png' %>

<h1>Android</h1>

<%= image_tag 'docs/android/play_store.png' %>
<%= image_tag 'docs/android/config.png' %>
<%= image_tag 'docs/android/scan.png' %>
<%= image_tag 'docs/android/result.png' %>

